html {
  background-color: olivedrab;
}

body {
  font-family: 'Raleway', serif;
}

h1 {
  color: #ffffff; 
  text-align: center; 
  margin: 40px auto;
}

h2 {
  color: #ffffff; 
  margin-top: 40px;
}

main {
  width: 70%;
  text-align: center;
  margin: 30px auto;
}

main img {
  width: 300px;
}

ol, ul {
  list-style-position: inside;
}

#correct {
  font-weight: bold;
  font-size: 20px;
}